rules_version = '2';
service firebase.storage {
 match /b/{bucket}/o {
  function admin() {return request.auth != null && firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid)) && firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.role in ['editor','super_admin'];}
  match /content/{uid}/{file} {
   allow read: if true;
   allow create: if resource == null && admin() && uid == request.auth.uid && request.resource.size <= 5 * 1024 * 1024 && request.resource.contentType in ['image/jpeg','image/png','image/webp'];
   allow update: if false;
   allow delete: if admin();
  }
 }
}
